/* 
    assets/scss/helpers/_mixins.scss 

    Figuring Mixins: Abstract repeated style patterns

    Contact me: nguyentruongthinhvn2020@gmail.com || +84393280504
*/

/// Check our current font-family and adjust all of our valuesaccordingly (keep our line lenghts in check between the main two font families (sans, serif)).
///
/// @param {String | list} $current-font-family - The name of a font family in our global font-family.
///
/// @output {Font Size} - A calculated css-ready font size value based on our global font-family and setting the line height.
@mixin base-font-family-sizing($current-font-family: $base-font-family) {
  font-family: $current-font-family;
  font-size: base-font-sizes-calc();
  line-height: $base-line-height;
  margin-bottom: $base-font-size * $base-line-height;

  @if $current-font-family == $base-font-family-serif {
    font-size: $base-font-size * 1.15;
  } @else {
    font-size: $base-font-size;
  }
}
/// Encapsulate font family, font size, and line height to prevent mistakes.
///
/// @param {Integer} $heading - The specified level of heading in our page layout with given a default value of 2.
/// @param {String | list} $current-font-family - The name of a font family in our global font-family.
///
/// @output {Font Size, Font Family, Line Height} - A calculated css-ready font size value based on our global font-family and setting the line height.
@mixin base-headings-font-family-sizing(
  $heading: 2,
  $current-font-family: $base-headings-font-family
) {
  font-family: $current-font-family;
  font-size: base-heading-sizes-calc($heading, $current-font-family);
  line-height: base-heading-line-height($heading, $current-font-family);
}
/// Place all of our headings into a mixin to creating our configurable base heading styles.
///
/// @output {Heading Styles} - A calculated css-ready heading values.
@mixin base-headings {
  //   @for $i from 1 through 6 {
  //     h#{$i} {
  //       @include base-headings-font-family-sizing($i, nth($base-headings, $i));
  //     }
  //   }
  $i: 1;
  @each $heading, $family in $base-headings {
    #{$heading} {
      @include base-headings-font-family-sizing($i, $family);
    }
    $i: $i + 1;
  }
}
