/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../scss/_layout.scss */
.product {
  margin: 5em;
  padding: 1em;
  overflow: hidden;
}
/* line 6, ../../scss/_layout.scss */
.product-image {
  float: left;
  margin: 0 0.5em 0 0;
}
/* line 11, ../../scss/_layout.scss */
.product-title {
  margin-top: 0;
}
/* line 13, ../../scss/_layout.scss */
.product-title-link {
  text-decoration: none;
  color: inherit;
}
/* line 19, ../../scss/_layout.scss */
.product-sale {
  margin-left: 1em;
  opacity: 0.5;
}
/* line 24, ../../scss/_layout.scss */
.product-button {
  padding: 0.25em 0.5em;
  float: right;
}

/* line 2, ../../scss/_theme.scss */
.product-title, .product-button {
  text-transform: uppercase;
}

/* line 6, ../../scss/_theme.scss */
.product-title a, .product-button:hover {
  color: crimson;
}

/* line 10, ../../scss/_theme.scss */
.product {
  box-shadow: 0px 0px 5px;
  font-family: Verdana, Arial, sans-serif;
}
/* line 15, ../../scss/_theme.scss */
.product-title a {
  text-decoration: none;
}
/* line 4, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.product-title a:hover, .product-title a:focus {
  text-decoration: underline;
}
/* line 20, ../../scss/_theme.scss */
.product-total {
  font-weight: bold;
}
/* line 23, ../../scss/_theme.scss */
.product-button {
  text-decoration: none;
  color: white;
  background-color: crimson;
  border: 1px solid transparent;
}
/* line 30, ../../scss/_theme.scss */
.product-button:hover {
  background: transparent;
  border: 1px solid crimson;
}

/* line 40, ../../scss/screen.scss */
body, .main-menu-list {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 47, ../../scss/screen.scss */
.main-menu-list-item.active {
  background-color: #1c272f;
}

/* line 57, ../../scss/screen.scss */
.main-menu-list-item.active .main-menu-list-item-link {
  color: #fb292d;
}

/* line 106, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5;
}

/* line 67, ../../scss/screen.scss */
h1 {
  font-size: 2em;
  line-height: 1.07813em;
}

/* line 67, ../../scss/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.0625em;
}

/* line 67, ../../scss/screen.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.12179em;
}

/* line 67, ../../scss/screen.scss */
h4 {
  font-size: 1em;
  line-height: 1.125em;
}

/* line 67, ../../scss/screen.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.12952em;
}

/* line 67, ../../scss/screen.scss */
h6 {
  font-size: 0.67em;
  line-height: 1.25933em;
}

@-moz-keyframes animate-text-shadow {
  15% {
    text-shadow: -10px -5px 0 #ac2f31;
  }
  50% {
    text-shadow: -5px 5px 0 #ac2f31;
  }
  85% {
    text-shadow: 10px -5px 0 #ac2f31;
  }
}
@-webkit-keyframes animate-text-shadow {
  15% {
    text-shadow: -10px -5px 0 #ac2f31;
  }
  50% {
    text-shadow: -5px 5px 0 #ac2f31;
  }
  85% {
    text-shadow: 10px -5px 0 #ac2f31;
  }
}
@keyframes animate-text-shadow {
  15% {
    text-shadow: -10px -5px 0 #ac2f31;
  }
  50% {
    text-shadow: -5px 5px 0 #ac2f31;
  }
  85% {
    text-shadow: 10px -5px 0 #ac2f31;
  }
}
/* line 89, ../../scss/screen.scss */
body {
  font-family: sans-serif;
  background-color: #c9c6c6;
}

/* line 96, ../../scss/screen.scss */
body > div {
  max-width: 38rem;
}

/* line 100, ../../scss/screen.scss */
.main-header {
  background-color: #26343f;
}
@media (min-width: 768px) {
  /* line 100, ../../scss/screen.scss */
  .main-header {
    overflow: hidden;
    *zoom: 1;
  }
}

/* line 108, ../../scss/screen.scss */
.branding {
  padding: 0 1em;
  font-size: 1.5em;
  line-height: 3;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 768px) {
  /* line 108, ../../scss/screen.scss */
  .branding {
    float: left;
  }
}

/* line 120, ../../scss/screen.scss */
.main-menu-list {
  list-style: none;
}
/* line 11, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
.main-menu-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (min-width: 768px) {
  /* line 120, ../../scss/screen.scss */
  .main-menu-list {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 62, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-menu-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 49, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-menu-list li:first-child {
    padding-left: 0;
  }
  /* line 50, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-menu-list li:last-child {
    padding-right: 0;
  }
  /* line 52, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-menu-list li.last {
    padding-right: 0;
  }
  /* line 131, ../../scss/screen.scss */
  .main-menu-list:first-child {
    padding-left: 1em;
  }
  /* line 134, ../../scss/screen.scss */
  .main-menu-list:last-child {
    padding-right: 1em;
  }
}

/* line 141, ../../scss/screen.scss */
.main-menu-list-item {
  line-height: 2.75;
  padding: 0 1em;
}

/* line 154, ../../scss/screen.scss */
.main-menu-list-item-link {
  color: #cccccc;
  text-decoration: none;
}
/* line 4, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.main-menu-list-item-link:hover, .main-menu-list-item-link:focus {
  text-decoration: underline;
}

/* line 159, ../../scss/screen.scss */
.tag-cloud-component {
  max-width: 20em;
  list-style: none;
  list-style-type: none;
  font-size: 16px;
  line-height: 19.2px;
}
/* line 11, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
.tag-cloud-component li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 6, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
.tag-cloud-component, .tag-cloud-component li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 5, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .xxs, .tag-cloud-component .xs, .tag-cloud-component .s, .tag-cloud-component .l, .tag-cloud-component .xl, .tag-cloud-component .xxl {
  line-height: 19.2px;
}
/* line 7, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .xxs {
  font-size: 8px;
}
/* line 9, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .xs {
  font-size: 10.66667px;
}
/* line 11, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .s {
  font-size: 12px;
}
/* line 13, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .l {
  font-size: 21.33333px;
}
/* line 15, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .xl {
  font-size: 24px;
}
/* line 17, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag-cloud-component .xxl {
  font-size: 32px;
}

/* line 166, ../../scss/screen.scss */
h1 {
  font-family: sans-serif;
  color: #c9c6c6;
  text-align: center;
  margin: 15px auto;
  text-shadow: 5px 2px 0 #ac2f31;
  -moz-animation: animate-text-shadow 5s;
  -webkit-animation: animate-text-shadow 5s;
  animation: animate-text-shadow 5s;
}

/* line 175, ../../scss/screen.scss */
p {
  margin-bottom: 1.5;
  margin-top: 1.5;
}

/* line 179, ../../scss/screen.scss */
.vertical-rhythm {
  width: auto;
  display: block;
}

/* line 183, ../../scss/screen.scss */
.vertical-rhythm[height="300"][width="200"] {
  height: 12;
}

/* line 186, ../../scss/screen.scss */
.vertical-rhythm[height="600"][width="600"] {
  height: 9;
}
@media (min-width: 420px) {
  /* line 186, ../../scss/screen.scss */
  .vertical-rhythm[height="600"][width="600"] {
    height: 12;
  }
}
@media (min-width: 520px) {
  /* line 186, ../../scss/screen.scss */
  .vertical-rhythm[height="600"][width="600"] {
    height: 15;
  }
}
@media (min-width: 620px) {
  /* line 186, ../../scss/screen.scss */
  .vertical-rhythm[height="600"][width="600"] {
    height: 18;
  }
}
@media (min-width: 720px) {
  /* line 186, ../../scss/screen.scss */
  .vertical-rhythm[height="600"][width="600"] {
    height: 21;
  }
}

/* line 205, ../../scss/screen.scss */
.newspager-article {
  text-align: justify;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-width: 15em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
  -moz-column-rule: 1px solid #009f0d;
  -webkit-column-rule: 1px solid #009f0d;
  column-rule: 1px solid #009f0d;
}

/* line 212, ../../scss/screen.scss */
.transform-me {
  border: 2px solid goldenrod;
  width: 10em;
  line-height: 10em;
  text-align: center;
  margin: 10px auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: translate(100px, 100px) rotate(45deg);
  -ms-transform: translate(100px, 100px) rotate(45deg);
  -webkit-transform: translate(100px, 100px) rotate(45deg);
  transform: translate(100px, 100px) rotate(45deg);
}
