// assets/scss/senior.scss
// Contact me: nguyentruongthinhvn2020@gmail.com || +84393280504

//                  Global variables
$base-font-family-sans: sans-serif;
$base-font-family-serif: serif;
$base-font-family-code: monospace;

$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: $base-font-family-sans;
$base-headings-font-family: $base-font-family-serif;
$base-headings: (
  (h1, $base-headings-font-family),
  (h2, $base-font-family),
  (h3, $base-headings-font-family),
  (h4, $base-headings-font-family),
  (h5, $base-headings-font-family),
  (h6, $base-headings-font-family)
);

@import "helpers/functions";
@import "helpers/mixins";

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
}

// We only want to get the "wrapper" div
body > div {
  max-width: 38rem; // approximate: 600px, 1 rem = 16px
  margin: 0 auto;
}

p {
  // font-family: sans-serif;
  // font-size: 1rem;
  // line-height: 1.5rem;
  // margin-bottom: 1.5rem;
  // font-family: $base-font-family-sans;
  // font-size: $base-font-size;
  // line-height: $base-line-height;
  // margin-bottom: $base-line-height + rem;
  // content: 'Serif';
  @include base-font-family-sizing;
}

@include base-headings;

// ************* Testing section ************** //

// .test-error {
//   content: base-font-sizes-calc(1);
// }

// .test-debug {
//   // @debug base-font-sizes-calc($base-headings-font-family);
//   @debug base-font-sizes-calc(2); // @error always win, because it's the highest priority level error message
// }

// .test-data-types {
//   // content: base-heading-sizes-calc("", 2)
//   content: base-heading-sizes-calc(0, $base-headings-font-family);
// }
