<!DOCTYPE html>
    <nav>
        <ul>
            <h3>Usecases</h3>
            <li>
                <a href="/senior/css_authoring_framework/usecases/css3_vendor_prefixes.html">
                    CSS3, Compass, and Vendor Prefixes 
                </a>
            </li>
            <li>
                <a href="/senior/css_authoring_framework/usecases/scalable_modular_architecture.html">
                    Scalable Modular Architecture for CSS 
                </a>
            </li>
        </ul>
    </nav>
</html>