<!DOCTYPE html>
    <main>
        <section>
            <article class="newspager-article">
                <header>
                    <h2> Post No 2</h2>
                </header>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nisi quos saepe in illo quam accusamus facilis debitis ipsa. Aliquam cupiditate vel excepturi voluptatem repellat expedita, eveniet delectus voluptas doloribus.</p>
                </div>
                <footer>
                    <time>01-05-2022 20:00</time>
                </footer>
            </article>
            <article class="newspager-article">
                <header>
                    <h2> Post No 1</h2>
                </header>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nisi quos saepe in illo quam accusamus facilis debitis ipsa. Aliquam cupiditate vel excepturi voluptatem repellat expedita, eveniet delectus voluptas doloribus.</p>
                </div>
                <footer>
                    <time>01-05-2022 19:00</time>
                </footer>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum tenetur totam delectus distinctio quas, similique, enim quasi nobis, error aliquid odit hic nesciunt molestias dolores nulla voluptatem accusamus adipisci!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ut deleniti praesentium nulla alias quo voluptas dolorum eaque ea. Amet facere quisquam sapiente, asperiores pariatur rem nobis quaerat. Dolores, inventore.</p>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minus saepe iste vel eaque maiores nihil ea, accusantium laborum pariatur neque! Dolorum ipsam provident quos possimus quae iste nostrum cumque!</P> -->
            </article>
        </section>
        <aside>
            <h3>Sidebar</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, iure? Vitae nihil eaque distinctio, ipsum maiores maxime incidunt culpa! Cupiditate, recusandae! Distinctio rem numquam reiciendis aperiam suscipit temporibus maxime eaque.</p>
        </aside>
    </main>
</html>