<!DOCTYPE html>
    <main>
        <section>
            <article>
                <header>
                    <h2> Post No 2</h2>
                </header>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nisi quos saepe in illo quam accusamus facilis debitis ipsa. Aliquam cupiditate vel excepturi voluptatem repellat expedita, eveniet delectus voluptas doloribus.</p>
                </div>
                <footer>
                    <time>01-05-2022 20:00</time>
                </footer>
            </article>
            <article>
                <header>
                    <h2> Post No 1</h2>
                </header>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nisi quos saepe in illo quam accusamus facilis debitis ipsa. Aliquam cupiditate vel excepturi voluptatem repellat expedita, eveniet delectus voluptas doloribus.</p>
                </div>
                <footer>
                    <time>01-05-2022 19:00</time>
                </footer>
            </article>
        </section>
        <aside>
            <h3>Sidebar</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, iure? Vitae nihil eaque distinctio, ipsum maiores maxime incidunt culpa! Cupiditate, recusandae! Distinctio rem numquam reiciendis aperiam suscipit temporibus maxime eaque.</p>
        </aside>
    </main>
</html>