/*
    Global styles

    Author: Nguyen Truong Thinh
    Contact me: nguyentruongthinhvn2020@gmail.com || +84393280504
*/
html {
    font-family: Montserrat;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
