<!DOCTYPE html>
    <nav class="main-menu">
        <ul class="main-menu-list">
            <li class="main-menu-list-item active">
                <a href="#" class="main-menu-list-item-link">Home</a>
            </li>
            <li class="main-menu-list-item">
                <a href="#" class="main-menu-list-item-link">Services</a>
            </li>
            <li class="main-menu-list-item">
                <a href="#" class="main-menu-list-item-link">Blog</a>
            </li>
            <li class="main-menu-list-item">
                <a href="#" class="main-menu-list-item-link">Contact</a>
            </li>
        </ul>
    </nav>
</html>