<!DOCTYPE html>
<div class="tag-cloud-component">
    <ol class="tag-cloud">
        <li class="s">Animation</li>
        <li>Breakpoints</li>
        <li class="xs">Clearfix</li>
        <li class="xxs">Columns</li>
        <li class="xxl">Compass</li>
        <li class="l">Console</li>
        <li class="xl">CSS</li>
        <li class="xs">Float</li>
        <li class="l">Functions</li>
        <li>Lists</li>
        <li class="xl">Media Queries</li>
        <li class="l">Mixins</li>
        <li>Ruby</li>
        <li class="xxl">Sass</li>
        <li>SCSS</li>
        <li>Transform</li>
        <li class="xxl">Typography</li>
        <li class="xl">Variables</li>
        <li class="l">Vertical Rhythm</li>
    </ol>
</div>

</html>